<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{ movie.Title }} ({{movie.Year}})
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class="col-md-4">
            <img [src]='movie.Poster'
                [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
        </div>
        <div class="col-md-8">
            <div class='plot'>{{ movie.Plot }}</div>
            <button class='btn btn-primary' routerLink='/movies'>
                Return to Search
            </button>
        </div>
    </div>
</div>