<div class='panel panel-primary'>
    <div class='panel-heading'>
        <input class='search' type='text' 
            [(ngModel)]='searchItem' (keyup)='searchMovie()'
            placeholder='Search for a movie...'/>
    </div>
    <div class='panel-body' *ngIf='movies'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImages()'>
                                {{ showImages ? 'Hide' : 'Show' }} Poster
                            </button>
                        </th>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>Director</th>
                        <th>Genre</th>
                        <th>Runtime</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let movie of movies'>
                        <td></td>
                        <td>{{ movie.Title }}</td>
                        <td>{{ movie.Year }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>